<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
           
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">The Craft's Aquarium</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/" routerLinkActive #rla1="routerLinkActive" [ngClass]="rla1.isActive ? 'nav-link active' : 'nav-link'" mdbRippleRadius><i class="fa fa-home" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/about" routerLinkActive #rla2="routerLinkActive" [ngClass]="rla2.isActive ? 'nav-link active' : 'nav-link'" mdbRippleRadius>About Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/dashboard" routerLinkActive #rla3="routerLinkActive" [ngClass]="rla3.isActive ? 'nav-link active' : 'nav-link'" mdbRippleRadius>Pricing</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
              </div>
          </li>

      </ul>
      <!-- Links -->

      <!-- Search form -->
      <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->