/* You can add global styles to this file, and also import other style files */
#infinite-scroller {
    height: 500px;
    width: 700px;
    border: 1px solid #f5ad7c;
    overflow: scroll;
    padding: 0;
    list-style: none;
  
    /* li{
      padding : 10px 5px;
      line-height: 1.5;
      &:nth-child(odd) {
        background : #ffe8d8;
      }
      &:nth-child(even) {
        background : #f5ad7c;
      }
    } */
  }
  
  .card .card-footer .left .discount{text-decoration:line-through;color:#9e9e9e;font-size:1.1rem}
  .card .card-footer .right{float:right;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
  .card .card-footer .right{float:right;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
  .card .card-footer .right a{color:#757575;margin-left:1rem;-webkit-transition:.4s;transition:.4s}
  .card .card-footer .right a:hover{color:#d50000;-webkit-transition:.4s;transition:.4s}
  .card .card-footer .right a.active{color:#d50000}
  .waves-effect{position:relative;cursor:pointer;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;z-index:1}
  .waves-effect .waves-ripple{position:absolute;border-radius:50%;width:100px;height:100px;margin-top:-50px;margin-left:-50px;opacity:0;background:rgba(0,0,0,.2);background:-webkit-radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);background:radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);-webkit-transition:all .5s ease-out;transition:all .5s ease-out;-webkit-transition-property:opacity,-webkit-transform;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;-webkit-transform:scale(0) translate(0,0);-ms-transform:scale(0) translate(0,0);transform:scale(0) translate(0,0);pointer-events:none}
  .waves-effect.waves-light .waves-ripple{background:rgba(255,255,255,.4);background:-webkit-radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%);background:radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%)}
  .waves-effect.waves-classic .waves-ripple{background:rgba(0,0,0,.2)}
  .waves-effect.waves-classic.waves-light .waves-ripple{background:rgba(255,255,255,.4)}
  .waves-notransition{-webkit-transition:none!important;transition:none!important}
  .waves-button,.waves-circle{-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-mask-image:-webkit-radial-gradient(circle,#fff 100%,#000 100%)}
  .waves-button,.waves-button-input,.waves-button:hover,.waves-button:visited{white-space:nowrap;vertical-align:middle;cursor:pointer;border:none;outline:0;color:inherit;background-color:transparent;font-size:1em;line-height:1em;text-align:center;text-decoration:none;z-index:1}
  .waves-button{padding:.85em 1.1em;border-radius:.2em}
  .waves-button-input{margin:0;padding:.85em 1.1em}.waves-input-wrapper{border-radius:.2em;vertical-align:middle;display:inline-block}
  .waves-input-wrapper.waves-button{padding:0}.waves-input-wrapper .waves-button-input{position:relative;top:0;left:0;z-index:1}
  .waves-circle{text-align:center;width:2.5em;height:2.5em;line-height:2.5em;border-radius:50%}
  .waves-float{-webkit-mask-image:none;box-shadow:0 1px 1.5px 1px rgba(0,0,0,.12);-webkit-transition:all .3s;transition:all .3s}
  .waves-float:active{box-shadow:0 8px 20px 1px rgba(0,0,0,.3)}
  .waves-block{display:block}
  a.waves-effect,a.waves-light{display:inline-block}
  .carousel-indicators .active{height:25px;max-width:25px;background-color:#4285f4;border-radius:50%}
  .carousel-multi-item .controls-top{text-align:center;margin-bottom:30px}
  .carousel-multi-item .controls-top .btn-floating{background:#4285f4}
  .carousel-multi-item .carousel-indicators{margin-bottom:-2em}
  .carousel-multi-item .card{margin:1px}
  .carousel-multi-item .card-cascade.narrower{margin-top:20px;margin-bottom:5px}@media only screen and (max-width:992px){.carousel-multi-item .carousel-indicators li{margin-bottom:-30px}}.carousel-thumbnails{margin-bottom:80px}.carousel-thumbnails .carousel-indicators{margin-bottom:-75px;position:absolute}.carousel-thumbnails .carousel-indicators li{height:auto;max-width:100px;width:100px;border:none}.carousel-thumbnails .carousel-indicators .active{height:auto;width:auto;opacity:.5}.carousel-thumbnails .carousel-indicators img{max-width:100px;height:50px;overflow:hidden;display:block}@media only screen and (max-width:600px){.carousel-thumbnails{margin-bottom:60px}.carousel-thumbnails .carousel-indicators{margin-bottom:-60px}.carousel-thumbnails .carousel-indicators img{max-width:50px;height:25px}}
  
  .btn-floating.btn-lg{width:61.1px;height:61.1px; border-radius: 50%;}
  .btn-floating.btn-lg i{font-size:1.625rem;line-height:61.1px}.fixed-action-btn{position:fixed;z-index:998;right:35px;bottom:35px;margin-bottom:0;padding-top:15px}.fixed-action-btn ul{position:absolute;bottom:64px;left:0;right:0;margin:0;padding:0;text-align:center}.fixed-action-btn ul li{margin-bottom:15px}.fixed-action-btn ul a.btn-floating{opacity:0}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:none;-moz-appearance:none;appearance:none}.btn-rounded{border-radius:10em}.btn.purple-gradient{-webkit-transition:.5s ease;transition:.5s ease;color:#fff}.btn.purple-gradient:active,.btn.purple-gradient:active:focus .btn.purple-gradient.active,.btn.purple-gradient:focus,.btn.purple-gradient:hover{background:-webkit-linear-gradient(50deg,#ff88ce,#8f8bf7);background:linear-gradient(40deg,#ff88ce,#8f8bf7)}
   .header-cart-counter {
    font-size: 8px !important;
    text-align: center;
    font-weight: bold;
  }
  .item-count {
    text-align: center;
    color: #000;
    background: #fff;
    width: 18px;
    height: 18px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top: 8px;
    font-size: 12px !important;
    text-align: center;
    font-weight: bold;
}

p {
  display: block;
  -webkit-margin-before: -0.5em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 13px;
  -webkit-margin-end: 0px;
}

