    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        
        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
        <!--Controls-->
        <!-- <div class="controls-top  text-center" aria-label="Card buttons">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div> -->
        <!--/.Controls-->
        <!--Indicators-->
        <!-- <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol> -->
        <!--/.Indicators-->

    <!--Slides-->
    <!-- <div class="carousel-inner" role="listbox"> -->

        <!--First slide-->
        <!-- <div class="carousel-item active"> -->

          <!--First slide-->
          <mdb-slide>
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://rajkumarpeterstorage2.blob.core.windows.net/rpeterimages/Slide_1_1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary  text-center">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://rajkumarpeterstorage2.blob.core.windows.net/rpeterimages/Slide_1_2.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://rajkumarpeterstorage2.blob.core.windows.net/rpeterimages/Slide_1_3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
          </mdb-slide>
          <!--/First slide-->
        <!-- </div> -->
        <!--/.First slide-->

        <!--Second slide-->
        <!-- <div class="carousel-item"> -->
          <!--Second slide-->
          <mdb-slide>

            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

        <!-- </div> -->
        <!--/.Second slide-->
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <!--Third slide-->
        <!-- <div class="carousel-item"> -->

            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>

        <!-- </div> -->
        <!--/.Third slide-->
      </mdb-slide>
      <!--/Third slide-->
    <!-- </div> -->
    <!--/.Slides-->

  </mdb-carousel>
  <!--/.Carousel Wrapper-->

      <!-- <div class="fixed-sn">
          <div class="col-lg-10 ml-auto mr-auto">
              <mdb-carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
                <mdb-slide *ngFor="let slide of slides; let index=index">
                  <img [src]="slide.image">
                  <div class="carousel-caption">
                    <h4>Slide {{index}}</h4>
                    <p>{{slide.text}}</p>
                  </div>
                </mdb-slide>
              </mdb-carousel>
          </div>
      </div> -->
        
      <div class="card-group"
        infiniteScroll
        [infiniteScrollDistance]="10"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <div class="col-md-4" *ngFor="let item of fishes">
          <div class="card mb-2" *ngFor="let arr1 of item.images">
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img class="card-img-top" width="100%" height="60%" alt="" src="{{arr1.thumbnail}}" alt="Card image cap">
                      <a>
                          <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                  </div>
              
                  <div class="card-body">
                    <!--Rating-->
                    <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                    </ul> 
                      <h4 class="card-title">{{item.name}}</h4>
                      <!--Description-->
                      <p class="card-text">{{item.description}}</p>
                      <div *ngIf="item.available == 'true'; else nostock">
                          In-Stock
                        </div>
                        <ng-template #nostock>
                          No-Stock
                        </ng-template>
                        <!-- <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a> -->
                        <!--Card footer-->
                        <div class="card-footer row">
                          <span class="left col-sm-4">Rs {{item.rate}}/- <span class="discount">Rs 199/-</span></span>
                          <span class="right col-sm-8">
                              <a placement="top" mdbTooltip="Add to Cart" data-toggle="modal" data-target="#centralModalSuccess"(click)="onClickAddToCart()" mdbRippleRadius ><i class="fa fa-shopping-cart"></i></a>
                              <a placement="top" mdbTooltip="Share"><i class="fa fa-share-alt"></i></a>
                              <a class="active" placement="top" mdbTooltip="Added to Wishlist"  container="body"><i class="fa fa-heart"></i></a>

                              <!-- <button type="button" (click)="onClickAddToCart()">Rename</button> -->
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>      
    <!-- </div> -->
    <!--/.Carousel Wrapper-->
  <!-- Central Modal Medium Success -->
  <div mdbModal #demoBasic="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Modal Success</p>
        
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
        
                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim,
                            ab officiis totam.</p>
                    </div>
                </div>
        
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-success">Get it now <i class="fa fa-diamond ml-1"></i></a>
                    <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal" (click)="demoBasic.hide()">No, thanks</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
        </div>
        <!-- Central Modal Medium Success-->
        
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating  red" mdbRippleRadius>
                        <p id="header-cart-counter" class="item-count">{{items}}</p>
                        <p class="plus"><i class="fa fa-shopping-cart"></i></p>                        
                </a>                          
            </div>
        
      <hr>
    </div> <!-- /container -->
    </div>
    